@import '../../scss/global.scss';

.MysteryRing {
  background-color: $background_color_table;
}

// NOTE: Adapted from ProductBox.
.MysteryRing-selectWrapper {
  margin-top: 0rem;
  position: relative;
}

.MysteryRing-selectWrapper select {
  width: 100%;
}

.MysteryRing-selectSize label {
  display: block;
  line-height: 1.5;
}

.MysteryRing-selectSize label + select {
  margin: 0;
}

.MysteryRing-selectSize select {
  border-color: $text_color;
  border-width: 2px;
  &:focus {
    border-color: $highlight_color;
  }
}

.MysteryRing-addToCart .Button {
  width: 100%;
  padding: 0.75em;
}

.MysteryRing-info summary {
  font-weight: 700;

  &:focus {
    outline: none; // replaced by styles below
    box-shadow: 0 0 0 0.2em $outline_color;
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 0.2em $outline_color;
  }
}

.MysteryRing-info summary + p {
  margin-top: 0;
}
