@import '../../scss/global.scss';

/* Bundled items */
.ProductBundle-bundledItem {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ProductBundle-bundledItemTitle {
  flex: 1 1 100%;
  margin-left: $gutter_horizontal / 2;
  margin-right: $gutter_horizontal / 2;
  font-size: $font_size_sm;
  font-weight: $font_weight_base;
}

.ProductBundle-bundledItemTitleLabel {
  font-weight: $font_weight_bold;
}
