.Testimonials {
  padding: 3.75rem 0;
}

.Testimonials-item {
  display: block;
}
@media (min-width: 60em) {
  .Testimonials-item {
    display: flex;
  }
}

.Testimonials-item + .Testimonials-item {
  margin-top: 8em;
}

.Testimonials-item-image {
  text-align: center;
}

.Testimonials-item-content,
.Testimonials-item-image {
  flex: 0 1 100%;
}
@media (min-width: 60em) {
  .Testimonials-item-content,
  .Testimonials-item-image {
    flex: 0 1 50%;
    align-self: center;
    text-align: center;
  }
}

.Testimonials-item-title {
  color: #f38732;
  font-weight: lighter;
}

.Testimonials-item-subtitle {
  margin-top: 0;
  font-weight: lighter;
  text-transform: none;
}

@media (max-width: 60em) {
  .Testimonials-item-description {
    margin-top: 1em;
  }
}

@media (min-width: 60em) {
  .Testimonials-item-quote {
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 30px 40px;
    margin-left: 60px;
    position: relative;
  }
  .Testimonials-item-quote:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 40px solid #eee;
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    top: 20px;
  }
  .Testimonials-item:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .Testimonials-item:nth-child(odd) .Testimonials-item-quote {
    margin-left: 0;
    margin-right: 60px;
  }
  .Testimonials-item:nth-child(odd) .Testimonials-item-quote:after {
    left: auto;
    right: 0;
    transform: translateX(50%);
  }
}
