.FaqAccordion {
  padding: 3.75rem 0;
}
.FaqAccordion .Accordion {
  padding: 0;
}
.FaqAccordion .AccordionItem {
  padding: 1.25em 0 0 0;
}
.FaqAccordion .AccordionItem:last-child {
  margin-bottom: 1.25em;
}
.FaqAccordion .AccordionItem-heading {
  justify-content: start;
  text-transform: none;
  margin: 0;
  max-width: 100%;
  transition: 0.3s all;
  letter-spacing: 0.01rem;
  cursor: pointer;
  justify-content: space-between;
}
@media screen and (min-width: 60em) {
  .FaqAccordion .AccordionItem-heading {
    justify-content: flex-start;
  }
}
.FaqAccordion .AccordionItem--active .AccordionItem-heading,
.FaqAccordion .AccordionItem-heading:hover {
  color: #f38732;
}
.FaqAccordion .AccordionItem-content {
  max-width: 90%;
  margin: 0 auto;
}
.FaqAccordion .AccordionItem-body {
  padding-top: 1em;
}
.FaqAccordion .AccordionItem-icon {
  width: 0.5em;
  height: 0.5em;
  transition: none;
}
.FaqAccordion .Accordion--default .AccordionItem {
  border-bottom: none;
}
@media (min-width: 37.5em) {
  .FaqAccordion .AccordionItem-icon {
    position: relative;
  }
  .FaqAccordion .AccordionItem-headingText {
    margin-right: 1em;
  }
}

.FaqAccordion--noTopPadding {
  padding-top: 0;
}

.FaqAccordion--noBottomPadding {
  padding-bottom: 0;
}
