@import '../../scss/global.scss';

.ProductLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
  text-align: center;
  line-height: 1.1;
  font-weight: $font_weight_extrabold;
  color: $brand_color_white;
  background-color: $highlight_color;
  border-radius: 50%;
}

.ProductLabel--new,
.ProductLabel--widethin {
  font-size: 90%;
}

.ProductLabel--best-seller,
.ProductLabel--limited-edition,
.ProductLabel--back-in-stock,
.ProductLabel--sold-out {
  font-size: 75%;
}
