.ProductGrid-grid {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
}
@media (min-width: 37.5em) {
  .ProductGrid-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.ProductGrid {
  padding-top: 3.75rem;
}
.ProductGrid .ProductCard {
  overflow: hidden;
}
.ProductGrid .ProductCard-link:hover,
.ProductGrid .ProductCard-link:focus,
.ProductGrid .ProductCard-link:active {
  box-shadow: none;
}
.ProductGrid .ProductCard-meta {
  margin-bottom: 3em;
}
@media (min-width: 37.5em) {
  .ProductGrid .ProductCard-meta {
    margin-bottom: 1em;
  }
}

.ProductGrid-products {
  position: relative;
  padding-bottom: 3.75rem;
  text-align: center;
}

.ProductGrid-overlay {
  opacity: 0;
  pointer-events: none;
  background-color: #000;
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s;
}

@media (min-width: 60em) {
  .ProductGrid-overlay.active {
    opacity: 0.4;
    pointer-events: inherit;
    cursor: pointer;
  }
}

.ProductGrid-empty {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.CollectionFilters-container {
  font-size: 0.8em;
}

.CollectionFilters {
  right: 100%;
  top: 0;
  overflow: auto;
  position: fixed;
  transition: transform 0.45s cubic-bezier(0.29, 0.63, 0.44, 1), height 0.5s ease;
  width: 100%;
  z-index: 4;
  background-color: #fff;
  padding: 40px;
}
@media (min-width: 60em) {
  .CollectionFilters {
    right: 0;
    top: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2px;
  }
}

.DrawerContainer.is-open .CollectionFilters {
  transform: translateX(100%);
}
@media (min-width: 60em) {
  .DrawerContainer.is-open .CollectionFilters {
    transform: translateX(0);
  }
}

.CollectionFilters-mobileCloseButton {
  display: none;
}
@media (max-width: 60em) {
  .CollectionFilters-mobileCloseButton {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.CollectionFilters-mobileCloseButton-icon-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.CollectionFilters-filtersSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 4.5rem;
  min-height: 2.175rem;
}
@media (min-width: 37.5em) {
  .CollectionFilters-filtersSection {
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 37.5em) {
  .CollectionFilters-filtersSection--sort-only {
    justify-content: flex-end;
  }
}

.CollectionFilters-filtersSection--sort-only .CollectionFilters-sortby {
  position: relative;
}

.CollectionFilters-filtersSection .DrawerContainer::before {
  content: none;
}

@media (min-width: 60em) {
  .CollectionFilters-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding-top: 1.5rem;
  }
}

.CollectionFilters-filterGroup {
  position: relative;
}
@media (min-width: 60em) {
  .CollectionFilters-filterGroup {
    margin-top: 0;
    flex: 1 1 auto;
    margin-right: 40px;
  }
}
.CollectionFilters-filterGroup hr {
  margin-top: 0;
}

.CollectionFilters-fieldset {
  margin-top: 0;
}
.CollectionFilters-fieldset label:hover,
.CollectionFilters-fieldset input:focus + label {
  color: #f38732;
}
.CollectionFilters-fieldset input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.CollectionFilters-fieldset label {
  display: block;
  margin-top: 0.5em;
  margin-left: 0;
  text-transform: capitalize;
  cursor: pointer;
}
.CollectionFilters-fieldset label.selected {
  font-weight: bold;
}

@media (min-width: 60em) {
  .CollectionFilters-apply {
    width: 100%;
  }
}

.CollectionFilters-buttonClear {
  display: none;
  margin: 0;
  padding: 0 6px;
  line-height: 10px;
  font-size: 10px;
  letter-spacing: 0;
  border: none;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  text-transform: lowercase;
  position: absolute;
  right: 0;
  top: 0;
}

.CollectionFilters-buttonClear:hover {
  background-color: #ddd;
}

.CollectionFilters-filterGroup--selected .CollectionFilters-buttonClear {
  display: block;
}

.CollectionFilters-filterButton {
  width: 100%;
  margin-bottom: 10px;
  color: #f38732;
  font-weight: 800;
}
@media (min-width: 37.5em) {
  .CollectionFilters-filterButton {
    margin-bottom: 0;
  }
}

.CollectionFilters-sortby {
  position: relative;
  margin-top: 0;
}
.CollectionFilters-sortby > select,
.CollectionFilters-sortby__selected {
  display: inline-block;
  -webkit-appearance: none;
  padding: 0.75em 2.5em;
  font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  vertical-align: middle;
  color: currentColor;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background: none;
  border-color: currentColor;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  transition: 0.3s;
  font-weight: 800;
}
.CollectionFilters-sortby > select svg,
.CollectionFilters-sortby__selected svg {
  vertical-align: middle;
}
.CollectionFilters-sortby > select:hover,
.CollectionFilters-sortby > select:active,
.CollectionFilters-sortby__selected:hover,
.CollectionFilters-sortby__selected:active {
  color: #f38732;
  cursor: pointer;
}
.CollectionFilters-sortby > select:focus,
.CollectionFilters-sortby > select:focus-visible,
.CollectionFilters-sortby__selected:focus,
.CollectionFilters-sortby__selected:focus-visible {
  outline: none;
  background: inherit;
  box-shadow: 0 0 0 0.2em #f38732;
}
.CollectionFilters-sortby > select:focus:not(:focus-visible),
.CollectionFilters-sortby__selected:focus:not(:focus-visible) {
  box-shadow: none;
}
.CollectionFilters-sortby > select:disabled,
.CollectionFilters-sortby__selected:disabled {
  color: #b7b7b7;
  cursor: default;
}
.CollectionFilters-sortby > select:disabled b,
.CollectionFilters-sortby > select:disabled strong,
.CollectionFilters-sortby > select:disabled i,
.CollectionFilters-sortby > select:disabled em,
.CollectionFilters-sortby__selected:disabled b,
.CollectionFilters-sortby__selected:disabled strong,
.CollectionFilters-sortby__selected:disabled i,
.CollectionFilters-sortby__selected:disabled em {
  color: currentColor;
}
.CollectionFilters-sortby__selected {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #f38732;
  pointer-events: none;
  margin-top: 0;
}
.CollectionFilters-sortby > label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.CollectionFilters-sortby > select {
  width: 100%;
  margin-left: 0;
  text-indent: -999em;
  border-color: #f38732;
}
.CollectionFilters-sortby > select:focus,
.CollectionFilters-sortby > select:focus-visible {
  outline: none;
  background: inherit;
  box-shadow: 0 0 0 0.2em #f38732;
}
.CollectionFilters-sortby > select:focus:not(:focus-visible) {
  box-shadow: none;
}

.ProductGrid .DrawerOverlay {
  display: none;
  z-index: 0;
}
