.TextContent {
  padding: 3.75rem 0;
}

.TextContent-title {
  font-size: 1.5em;
  color: #f38732;
}

.TextContent--align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.TextContent--align-right {
  text-align: right;
  margin-left: auto;
}

.TextContent--reading-length {
  max-width: 46.875rem;
}
