@keyframes drawerSlide {
  from {
    transform: translateX(0);
    @media (min-width: 60em) {
      transform: translateX(0);
    }
  }
  to {
    transform: translateX(-21.5rem);
    @media (min-width: 60em) {
      transform: translateX(-25rem);
    }
  }
}

.CartDrawer {
  background-color: #fff;
  bottom: 0;
  margin: 0;
  max-width: 100%;
  position: fixed;
  right: -21.5rem;
  top: 0;
  animation: drawerSlide 0.45s forwards;
  width: 21.5rem;
  z-index: 1000;
}
@media (min-width: 60em) {
  .CartDrawer {
    right: -25rem;
    width: 25rem;
  }
}

.CartDrawer.loaded {
  transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
  animation: unset;
}

.DrawerContainer.is-open .CartDrawer {
  transform: translateX(-21.5rem);
}
@media (min-width: 60em) {
  .DrawerContainer.is-open .CartDrawer {
    transform: translateX(-25rem);
  }
}

.CartDrawer .Icon {
  display: flex;
}

.CartDrawer-header {
  align-items: center;
  background-color: #191818;
  color: #fff;
  display: flex;
  height: 3.75em;
  width: 100%;
}

.CartDrawer-cartIcon,
.CartDrawer-title,
.CartDrawer-close {
  margin: 0;
}

.CartDrawer-cartIcon,
.CartDrawer-close {
  display: flex;
  margin: 0 1.25rem;
}
.CartDrawer-cartIcon svg,
.CartDrawer-close svg {
  height: 1.5rem;
}

.CartDrawer-icon-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.CartDrawer-title {
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: 0.2em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.CartDrawer-closeButton {
  cursor: pointer;
}

.CartDrawer-container {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100% - 3.75em);
  margin: 0;
}

@media (max-width: 60em) {
  .CartDrawer-container--has-items {
    font-size: 1.15em;
  }
}

.CartDrawer-continueShopping {
  margin: 1.25rem;
}

.CartDrawer-continueShopping {
  border-left: 1px solid #f38732;
  cursor: pointer;
  font-size: 0.75em;
  letter-spacing: 0.01em;
  line-height: 1;
  padding-left: 0.3125em;
  text-align: left;
  text-transform: uppercase;
}

.CartDrawer-items {
  flex: 1;
  margin: 0;
  overflow: auto;
}

.CartDrawer-footer {
  position: relative;
  margin-top: 0;
  padding: 1.25em;
}

.CartDrawer-subtotal {
  display: flex;
  margin-top: 0;
  font-size: 0.875em;
  font-weight: 800;
  justify-content: space-between;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.CartDrawer-subtotal > * {
  margin: 0;
}

.CartDrawer-totalDiscount {
  color: #f38732;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}

.CartDrawer-checkoutButton {
  display: block;
  width: 100%;
  margin-top: 1em;
}

.CartItem {
  display: grid;
  font-size: 0.875em;
  grid-gap: 1.25em;
  grid-template-columns: 2fr 3fr;
  margin: 0;
  padding: 1.25em;
}

.CartItem-image {
  align-items: center;
  display: flex;
}

.CartItem-image a img {
  vertical-align: middle;
}

.CartItem > *,
.CartItem-content > * {
  margin: 0;
}

.CartItem-content > * + * {
  margin-top: 0.375em;
}

.CartItem-title,
.CartItem-details {
  font-weight: 800;
  text-transform: uppercase;
}

.CartItem-details {
  display: flex;
  align-items: center;
  grid-gap: 0.25em;
}
.CartItem-details .ProductPrice-prices {
  justify-content: space-between;
}

.CartItem--bundle .CartItem-price {
  margin-left: 0;
}

.CartItem-compareAtPrice {
  margin-left: auto;
  margin-right: 0;
}

.CartItem-percentDiscount {
  margin-top: 0.375em;
}

.BundledItem-title a,
.CartItem-title a {
  color: inherit;
  text-decoration: none;
}
.BundledItem-title a:hover,
.CartItem-title a:hover {
  color: #f38732;
}

.CartItem-remove {
  color: #b7b7b7;
  font-size: 0.875em;
  font-weight: 800;
  letter-spacing: inherit;
  text-transform: inherit;
}

.CartItem-qty {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: 0.667em;
}

.CartItem-qty > * + * {
  margin: 0;
  margin-left: 0.375em;
}

.CartItem-qtyDec,
.CartItem-qtyInc {
  align-items: center;
  border: 1px solid;
  border-radius: 50%;
  color: #191818;
  cursor: pointer;
  display: flex;
  height: 1.25em;
  justify-content: center;
  width: 1.25em;
}
.CartItem-qtyDec span,
.CartItem-qtyInc span {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
@media (max-width: 60em) {
  .CartItem-qtyDec,
  .CartItem-qtyInc {
    font-size: 1.15em;
  }
}

.CartItem-qtyNum {
  min-width: 1.5em;
  text-align: center;
}

.CartItem-qty .Icon {
  height: 0.75em;
  width: 0.75em;
}

.CartItem button[disabled] {
  cursor: default;
}

.CartItem-attributes,
.CartItem-discounts {
  padding: 0;
  list-style: none;
}
.CartItem-attributes li,
.CartItem-discounts li {
  text-transform: capitalize;
}

.CartItem-discounts small {
  color: #f38732;
  font-weight: 800;
}

.ProductPrice--has-pre-text {
  display: block;
}

.BundledItem-title + .BundledItem-title {
  margin-top: 0;
}

.CartDrawer-items--empty {
  overflow: auto;
  text-align: center;
  padding: 3em;
}

.CartDrawer-empty-text {
  font-size: 1.5em;
  margin-bottom: 3em;
}

.CartDrawer-empty-links {
  padding: 0;
  list-style: none;
}
.CartDrawer-empty-links li + li {
  margin-top: 3em;
}
.CartDrawer-empty-links .Button {
  display: block;
  padding: 0.75em;
}

.CartDrawer-scroll {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(0);
  width: 100%;
  height: 0;
  margin-top: 0;
  text-align: center;
  transition: 0.3s;
}
.CartDrawer-scroll.CartDrawer-scroll--visible {
  height: 3em;
  transform: translateY(-100%);
}

.CartDrawer-scroll-button {
  display: inline-block;
  padding: 0.25em 1.5em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1.5em;
}

.CartDrawer-scroll-message {
  display: flex;
  align-items: center;
}
.CartDrawer-scroll-message svg {
  max-width: 1.25em;
  margin-left: 0.25rem;
}

.CartFlash-item {
  display: flex;
  align-items: flex-start;
  padding: 0.625rem 1.25rem;
  font-weight: 500;
  text-align: center;
  background-color: #f38732;
}
.CartFlash-item p {
  margin-top: 0;
}
.CartFlash-item code {
  font-size: 0.75em;
  line-height: 1.5em;
  font-weight: 400;
  padding: 0 0.25em;
  border-radius: 3px;
  background-color: #333;
  color: #f38732;
  text-shadow: 0 1px 0 #000;
}
.CartFlash-item ::selection {
  color: rgba(243, 135, 50, 0.6);
  background: #191818;
}

.CartFlash-close {
  margin-top: -0.5em;
  padding: 0.75em;
  margin-right: -0.75em;
}
.CartFlash-close:hover {
  color: #fff;
}
.CartFlash-close:focus {
  color: #fff;
  box-shadow: 0 0 0 0.2em #191818;
}

.CartFlash-icon-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.CartWarning {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  padding: 0.625rem;
  border: solid 1px #f38732;
}

.CartWarning-title {
  font-size: 1em;
}

.CartWarning-title-highlight {
  color: #f38732;
}

.CartWarning-item > div {
  display: flex;
  justify-content: space-between;
}

.CartWarning-item .CartItem-remove {
  margin-top: 0;
  margin-left: 0.5rem;
  color: #f38732;
}

.CartWarning-item + .CartWarning-item {
  margin-top: 0.75rem;
}
