.Image {
  margin-top: 0;
  padding: 3.75rem 0;
}

.Image--noTopPadding {
  padding-top: 0;
}

.Image--noBottomPadding {
  padding-bottom: 0;
}

.Image-image {
  display: block;
  height: auto;
  margin-top: 0;
  width: 100%;
}

.Image-link {
  display: block;
}
