@import '../../scss/global.scss';

.Header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 15; // move above floating productbox form
  width: 100%;
}

.Header-content-wrapper {
  position: relative;
  margin-top: 0;
  padding: $gutter_horizontal $gutter_vertical;
  color: $brand_color_black;
  background-color: $brand_color_white;
  border-bottom: 1px solid $brand_color_light_gray; //#d3d3d3;

  a {
    color: $brand_color_black;
    &:hover,
    &:focus {
      color: $highlight_color;
    }
  }

  @media (min-width: $breakpoint_sm) and (max-width: $breakpoint_large_nav) {
    padding: $font_size_xl $gutter_vertical;
  }

  @media (min-width: $breakpoint_large_nav) {
    color: $brand_color_white;
    background-color: $brand_color_black;
    border-bottom: none;

    a {
      color: $brand_color_white;
      &:hover,
      &:focus {
        color: $highlight_color;
      }
    }
  }
}

.Header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $breakpoint_xl_nav) {
    @include container;
  }

  > * {
    margin-top: 0;
  }
}

.Header-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header-actions--mobile {
  @media (min-width: $breakpoint_large_nav) {
    display: none;
  }
}

.Header-action {
  margin-top: 0;

  & + & {
    margin-left: 0.75em;
  }
}

// Menu button
.Header-menu-button {
  margin-top: 0;
  span {
    @include visually-hidden;
  }
}

.Header-menu-button--open {
  display: block;
  .Header-menu--is-open & {
    display: none;
  }
}
.Header-menu-button--close {
  display: none;
  .Header-menu--is-open & {
    display: block;
  }
}

.Header-action--menu {
  @include button-unstyled;
}

// Cart
.Header-action--cart {
  font-size: .8em;
  line-height: 2;
  letter-spacing: $letter_spacing_headings;
  @include button-unstyled;
  padding: 0.25em 0;
}

.Header-cart-count {
  padding: 0.3rem 0.6rem;
  margin-left: 0.6rem;
  letter-spacing: normal;
  border: currentColor solid 1px;
}

// Search
.Header-action--search {
  @include button-unstyled;

  svg {
    width: 2em;
  }

  span {
    @include visually-hidden;
  }

  .Header-actions--left & {
    margin-right: 0.75em;
  }

  .Header-actions--right & {
    display: none;
    @media (min-width: $breakpoint_large_nav) {
      display: block;
    }
  }
}

// Navigation
.Header-navigation {
  overflow: auto;
  position: absolute;
  left: -100%;
  top: 100%;
  width: 100%;
  height: 100vh;
  padding: $gutter_horizontal ($gutter_vertical / 2);
  color: $brand_color_white;
  background-color: $brand_color_black;
  transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);

  @media (min-width: $breakpoint_large_nav) {
    overflow: visible;
    position: static;
    width: auto;
    height: auto;
    padding: 0;
  }

  .Header-menu--is-open & {
    left: 0;
  }

  a {
    color: $brand_color_white;
    &:hover,
    &:focus {
      color: $highlight_color;
    }
  }
}

.Header .Navigation-dropdown {
  background-color: $brand_color_black;
}

.Header-wrapper {
  padding-top: 8.275rem;
}

.Header-wrapper .NavigationSlider {
  margin-top: 0;
  @media (min-width: $breakpoint_large_nav) {
    display: none;
  }
}

// Search drawer
.Header-wrapper .DrawerContainer {
  margin-top: 0;
}

.Header-logo {
  &:focus,
  &:focus-visible {
    color: $brand_color_black !important;
  }
}

.Header-logo-title {
  @include visually-hidden;
}

.Header-mainContentAnchor {
  @include visually-hidden;
}
