.ProductFeatures {
  padding: 3.75rem 0;
}
.ProductFeatures .Accordions {
  padding-left: 0;
}
.ProductFeatures .AccordionItem-heading {
  font-weight: 900;
  color: #f38732;
}
@media (min-width: 75em) {
  .ProductFeatures .AccordionItem-heading {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: pointer;
    padding-left: 0;
  }
}
.ProductFeatures .Accordion {
  padding: 0;
}
.ProductFeatures .AccordionItem-headingText {
  font-size: 1.5rem;
}
.ProductFeatures .AccordionItem--active .AccordionItem-content {
  margin-bottom: 1em;
}

@media (min-width: 60em) {
  .ProductFeatures-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media (min-width: 60em) {
  .ProductFeatures-featuresContainer {
    grid-column: 1 / 2;
  }
}

.ProductFeatures-imagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 60em) {
  .ProductFeatures-imagesContainer {
    grid-column: 2 / 3;
    margin-top: 0;
  }
}

.ProductFeatures-title {
  font-size: 3em;
  line-height: 1.1;
  margin-bottom: 1em;
}
@media (max-width: 37.5em) {
  .ProductFeatures-title {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
}

.ProductFeatures-image {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 60em) {
  .ProductFeatures-image {
    display: block;
    max-width: 80%;
    margin: 0 0 0 auto;
  }
}

.ProductFeatures-image--mobile {
  display: block;
}
@media (min-width: 60em) {
  .ProductFeatures-image--mobile {
    display: none;
  }
}
