.WhyGrooveLife .TextColumn {
  max-width: 50%;
  padding: 1.5em 1rem;
}
@media (min-width: 37.5em) {
  .WhyGrooveLife .TextColumn {
    padding: 1.5em;
  }
}

.WhyGrooveLife .TextColumn-title {
  font-size: 1.25em;
}
@media (min-width: 37.5em) {
  .WhyGrooveLife .TextColumn-title {
    font-size: 1.5em;
  }
}
