@import '../../scss/global.scss';

.NavigationSlider {
  min-height: 9.15rem;
}

.NavigationSlider-list {
  @include list-inline;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.NavigationSlider-item {
  min-width: 20%;
  margin: 0 0.25em;
  padding: 0.75rem 0.25em;
}

.NavigationSlider-item-link {
  display: block;
  color: $text_color;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:focus {
    background-color: transparent;
  }
}

.NavigationSlider-item-image {
  padding: 0 0.25rem;
  height: auto;
}

.NavigationSlider-item-title {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.65em;
}

.NavigationSlider-item-accessibleTitle {
  @include visually-hidden;
}
